<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
  <h1>Three cool <%= title %></h1>

<section class="services">

<ul class="list-unstyled">

<li class="media">
       <a href="https://github.com/Haris-Siddiqi/Dice-Roll-App" target="_blank">Link to Dice Roll App</a>

    <div class="media-body">
      <h5 class="mt-0 mb-1">Dice Roll App</h5>
      Built a web-based dice roll app focusing on a minimalistic user interface. Implemented sound effect with CreateJS and SoundJS and audio editing
    </div>
        <img src="https://i.imgur.com/I3m39Hr.png" class="mr-3" alt="img">

  </li>

  <li class="media">
    <img src="https://i.imgur.com/nNEK7Dt.png" class="mr-3" alt="img">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Banking App</h5>
      Developed a console-based banking application in C# that allows banks to easily manage their clients accounts and transactions.
    </div>
    <a href="https://github.com/Haris-Siddiqi/Banking-App" target="_blank">Link to Banking App</a>
  </li>

  <li class="media my-4">
    <a href="https://github.com/Haris-Siddiqi/Slot-Machine" target="_blank">Link to Slot Machine</a>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Slot Machine</h5>
      Implemented a web-based slot machine game. Incorporated game logic and probability to make multiple bet amounts and grand prize jackpot.
    </div>
    <img src="https://i.imgur.com/ZB6L9ei.png" class="mr-3" alt="img">
  </li>

  
</ul>
    </section>

    
  </main>

  <%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
