<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

<main class="container">

  <h1>Here are some of the <%= title %> that I can provide you, <br>or to your company</h1>

<ul class="list-unstyled">

  <li class="media">
    <div class="media">
  <img src="https://i.imgur.com/riQL1iQ.gif" class="align-self-center mr-3" alt="A gif showing the website that I created using a lot of cool effects">
  <div class="media-body">
    <h5 class="mt-0">Website Creation</h5>
    <p>Whether it's a hot page, landing page, or a complete website, if your company doesn't have a website up yet, you're failing to reach thousands of new consumers every day.</p>
    <p class="mb-0">I help you since the creation of the page concept, its creation, hosting, and maintenance. In this way, your biggest job will only be to help me dream.</p>
  </div>
</div>
  </li>

  <li class="media my-4">
    <div class="media">
  <img src="https://i.imgur.com/sW87UOj.gif" class="align-self-center mr-3" alt="A gif showing the Digital Catalog that I made for a Brazilian Truck Part Company">
  <div class="media-body">
    <h5 class="mt-0">Digital Product Catalog</h5>
    <p>Show your customers all your products in an interactive and fun way. You can implement this type of media on your website, or send it to customers so that they have access to the catalog in a simple and quick way.</p>
    <p class="mb-0">From the draft of the project, we make, if necessary, photographs of the product, in addition to the creation and implementation of the virtual catalog to be used on your website, or email marketing.</p>
  </div>
</div>
  </li>
  

  </li>
  <li class="media">
    <div class="media">
  <img src="https://i.imgur.com/0RsLAff.gif" class="align-self-center mr-3" alt="A Demo Intro created showcasing some skills ">
  <div class="media-body">
    <h5 class="mt-0">DevOps contracting</h5>
    <p>I can help you maintain your infastrucuture and help you build and maintain automation tools.</p>
    <p class="mb-0">I am skilled in technologies such as Ansible, Docker, AWS and Grafana.</p>
  </div>
  </li>

</ul>

</Main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 